/*ORDEN DE PAGINAS
1-INDEX
2-MENU
3-SUSHI
4-PIZZA
5-CARNES
6-INCIAR SESION
7-SOBRE NOSTROS*/
/*-----FUENTES------*/
@font-face {
  font-family: "SPECTRALSC-REGULAR";
  src: url(../fuentes/SpectralSC-Regular.ttf);
}
@font-face {
  font-family: "URBANIST";
  src: url(../fuentes/Urbanist-VariableFont_wght.ttf);
}
@font-face {
  font-family: "REDRESSED";
  src: url(../fuentes/Redressed-Regular.ttf);
}
@font-face {
  font-family: "SPECTRALSC";
  src: url(../fuentes/SpectralSC-ExtraLight.ttf);
}
@font-face {
  font-family: "VIDALOKA";
  src: url(../fuentes/Vidaloka-Regular.ttf);
}
@font-face {
  font-family: "KANIT";
  src: url(../fuentes/Kanit-Thin.ttf);
}
/*------------------------------*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  width: 100%;
}

html {
  /*-----MENU DE NAVEGACION-------*/
  /*--------footer--------*/
  /*-----------PAGINA 1----------- */
  /*IMAGEN PRINCIPAL*/
  /*-----MAIN----*/
  /*---------PAGINA 2----------*/
  /*-----------PAGINA3---------*/
  /*-----MENU PRINCIPAL SUSHI------*/
  /*ICHISOU*/
  /*OSAKA*/
  /*TENKUU*/
  /*-----------PAGINA 4---------*/
  /*-----MENU PRINCIPAL PIZZA------*/
  /*EL CUARTITO*/
  /*LA MEZZETA*/
  /*GUERRIN*/
  /*-------PAGINA 6-------*/
  /* INCIAR SESION */
  /*--------PAGINA 7 ---------*/
}
html nav {
  display: flex;
  background-color: #000000;
  justify-content: space-between;
  align-items: center;
  padding: 2%;
}
html nav :hover {
  color: orange;
}
html nav a {
  display: flex;
  align-items: center;
  text-decoration: none;
}
html nav a h2 {
  color: rgba(228, 228, 228, 0.8078431373);
  margin-left: 5%;
  font-family: "URBANIST";
  font-size: 300%;
  opacity: 80%;
}
html nav a img {
  width: 15%;
  margin-right: 2%;
}
html nav nav {
  display: flex;
}
html nav nav a {
  text-decoration: none;
  color: rgba(228, 228, 228, 0.8078431373);
  font-size: 20px;
  opacity: 80%;
}
@media (max-width: 700px) {
  html .header {
    flex-direction: column;
  }
  html .nav {
    padding: 10px 0px;
  }
  html .logo-nombre {
    font-size: 100%;
  }
  html .nav a {
    font-size: 80%;
  }
}
html footer {
  background-color: rgba(0, 0, 0, 0.247);
  padding: 10px;
}
html footer .arrowupcircle {
  position: fixed;
  bottom: 2%;
  right: 2%;
  width: 50px;
}
html footer p {
  text-align: center;
  padding-top: 2%;
  font-weight: bold;
}
html footer .footer1 {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
html footer .footer1 .footer2 {
  color: #535353;
  transition: color 0.3s;
  margin-left: 10%;
}
html footer .footer1 .footer2 :hover {
  color: orange;
  cursor: pointer;
}
html footer .footer1 .footer2 a {
  padding-right: 50px;
  text-decoration: none;
  color: #000000;
  font-weight: bold;
  font-size: 20px;
}
html footer .footer1 .footer3 {
  margin-left: 30%;
}
html footer .footer1 .footer3 a {
  margin-right: 20px;
}
html footer .footer1 .footer3 img {
  width: 40px;
}
html .wrap {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(to bottom, rgb(0, 0, 0), rgba(0, 0, 0, 0.25)), url(../imagenes/fotoprincipal.jpg);
  background-size: cover;
  background-position: center;
}
html .wrap .wrap-texto {
  color: #c7c7c7;
  text-align: center;
}
html .wrap .wrap-texto .textoimg {
  font-size: 150%;
}
html .wrap .wrap-texto .taberu {
  font-size: 500%;
  color: #c7c7c7;
}
html section {
  display: flex;
  background-color: #ffffff;
  padding: 3%;
}
html section .imgrayador {
  margin: 5%;
  width: 50%;
  flex: 50%;
}
html section article {
  background-color: #e2e2e2;
  justify-content: center;
  text-align: center;
  border: 3px solid black;
  margin: auto;
  padding: 5%;
  flex: 50%;
  margin-left: 5%;
  margin-right: 5%;
}
html section article h1 {
  font-size: 150%;
  font-weight: bold;
  color: rgb(71, 71, 71);
}
html section article p {
  font-size: 100%;
  color: #858585;
  font-weight: bold;
}
html .flex-container2pg1 {
  display: flex;
  text-align: center;
  margin-bottom: 2%;
}
html .flex-container2pg1 .flexpg1-item-left {
  padding: 3%;
  flex: 40%;
  width: 60vw;
  height: 100vh;
}
html .flex-container2pg1 .flexpg1-item-right {
  padding: 3%;
  flex: 40%;
  width: 60VW;
  height: 100vh;
}
@media (max-width: 700px) {
  html .flex-container1pg1 {
    flex-direction: column;
  }
  html .flex-container1pg1 > section p {
    font-size: 50%;
  }
  html .flex-container1pg1 > .section1p1 h1 {
    font-size: 100%;
  }
  html .flex-container2pg1 {
    flex-direction: column;
  }
  html .flexpg1-item-left {
    width: 100%;
  }
  html .flexpg1-item-right {
    width: 100%;
  }
}
html .rowpagina2 {
  display: flex;
  color: #c7c7c7;
}
html .rowpagina2 .buttonpg2 {
  background-color: none;
  color: rgb(161, 161, 161);
  border: 2px solid #e7e7e7;
  padding: 2%;
  border-radius: 10px;
}
html .rowpagina2 .column1pagina2 {
  flex: 33%;
  background-image: url(../imagenes/fotosushipagina2.jpg);
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  margin: 0.5%;
  text-align: center;
  padding-top: 10%;
}
html .rowpagina2 .column1pagina2 h1 {
  font-size: 400%;
  font-family: "SPECTRALSC-REGULAR";
}
html .rowpagina2 .column2pagina2 {
  flex: 33%;
  background-image: url(../imagenes/fotopizzapagina2.jpg);
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  margin: 0.5%;
  text-align: center;
  padding-top: 10%;
}
html .rowpagina2 .column2pagina2 h1 {
  font-size: 400%;
  font-family: "SPECTRALSC-REGULAR";
}
html .rowpagina2 .column3pagina2 {
  flex: 33%;
  background-image: url(../imagenes/fotocarnepagina2.jpg);
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  margin: 0.5%;
  text-align: center;
  padding-top: 10%;
}
html .rowpagina2 .column3pagina2 h1 {
  font-size: 400%;
  font-family: "SPECTRALSC-REGULAR";
}
@media (max-width: 700px) {
  html .rowpagina2 {
    flex-wrap: wrap;
  }
  html .column1pagina2 {
    flex: 100%;
  }
  html .column2pagina2 {
    flex: 100%;
  }
  html .column3pagina2 {
    flex: 100%;
  }
}
html .fotoprincipalsushipg3 {
  width: 100%;
  height: auto;
  display: block;
  max-width: 100%;
  max-height: 100%;
  margin-bottom: 20px;
}
@media (max-width: 768px) {
  html .fotoprincipalsushipg3 .imagen {
    width: 100%;
    height: auto;
  }
}
html .flex-informacionsushipg3 {
  display: flex;
  align-items: center;
}
html .flex-informacionsushipg3 .textosushipg3 {
  padding: 50px;
  align-items: center;
  text-align: center;
  flex: 50%;
}
html .flex-informacionsushipg3 .textosushipg3 h1 {
  padding: 10px;
  font-size: 10vw;
}
html .flex-informacionsushipg3 .textosushipg3 p {
  padding: 10px;
  font-size: 1.3vw;
}
html .flex-informacionsushipg3 .fotoprincipal2sushipg3 {
  flex: 50%;
  padding: 10px;
}
html .flex-informacionsushipg3 .fotoprincipal2sushipg3 img {
  width: 50vw;
  border-radius: 5%;
}
@media (max-width: 700px) {
  html .flex-informacionsushipg3 .flex-informacionsushipg3 {
    flex-wrap: wrap;
  }
  html .flex-informacionsushipg3 .textosushipg3 {
    flex: 100%;
    margin-bottom: 3%;
  }
  html .flex-informacionsushipg3 .textosushipg3 > h1 {
    font-size: 50vw;
  }
  html .flex-informacionsushipg3 .textosushipg3 > p {
    font-size: 10vw;
  }
  html .flex-informacionsushipg3 .fotoprincipal2sushipg3 {
    flex: 100%;
  }
}
html hr {
  width: 80%;
  height: 7px;
  background-color: black;
  margin: 20px auto;
}
@media screen and (max-width: 768px) {
  html hr {
    width: 90%;
  }
}
html .ichisou {
  font-size: 10vw;
  text-align: center;
  font-family: "REDRESSED";
  margin-bottom: 2%;
}
html .grid-containerpg3 {
  display: flex;
  background-color: #b1b1b1;
  padding: 10px;
  margin-bottom: 5%;
}
html .grid-containerpg3 .gridpg3-item {
  text-align: center;
}
html .grid-containerpg3 .gridpg3-item p {
  padding-top: 20%;
  font-size: 160%;
}
html .grid-containerpg3 .gridpg3-item img {
  width: 100%;
  border-radius: 10px;
}
@media (max-width: 800px) {
  html .grid-containerpg3 .grid-containerpg3 {
    flex-wrap: wrap;
  }
}
html .galleryichisou {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
}
html .galleryichisou img {
  width: 100%;
  height: auto;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 10px;
}
html .osaka {
  font-family: "Kanit", sans-serif;
  font-size: 20rem;
  color: #333;
  text-align: center;
  margin: 0;
  padding: 10px;
}
@media (max-width: 768px) {
  html .osaka {
    font-size: 2rem;
  }
}
@media (max-width: 576px) {
  html .osaka {
    font-size: 1.5rem;
  }
}
html .containerosaka {
  display: flex;
  padding: 10px;
}
html .containerosaka .contentosaka {
  width: 50%;
  padding: 20px;
  text-align: center;
  background-color: #949BA6;
  color: #e2e2e2;
  border-right: 1px solid #ccc;
  align-items: center;
  margin-right: 10px;
  border-radius: 10px;
}
html .containerosaka .contentosaka p {
  padding-top: 15%;
  font-size: 200%;
}
html .containerosaka .imageosaka {
  width: 50%;
}
html .containerosaka .imageosaka img {
  width: 100%;
  height: auto;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 10px;
}
@media (max-width: 768px) {
  html .containerosaka {
    flex-direction: column;
  }
  html .containerosaka .contentosaka, html .containerosaka .imageosaka {
    width: 100%;
  }
}
html .galleryosaka {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
}
html .galleryosaka img {
  width: 100%;
  height: auto;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 10px;
}
html .tenkuu {
  font-family: "Kanit", sans-serif;
  font-size: 20rem;
  color: #333;
  text-align: center;
  margin: 0;
  padding: 10px;
}
@media (max-width: 768px) {
  html .tenkuu {
    font-size: 2rem;
  }
}
@media (max-width: 576px) {
  html .tenkuu {
    font-size: 1.5rem;
  }
}
html .containertenkuu {
  display: flex;
  padding: 10px;
}
html .containertenkuu .contenttenkuu {
  width: 50%;
  padding: 20px;
  text-align: center;
  background-color: #949BA6;
  color: #e2e2e2;
  border-right: 1px solid #ccc;
  align-items: center;
  margin-right: 10px;
  border-radius: 10px;
}
html .containertenkuu .contenttenkuu p {
  padding-top: 15%;
  font-size: 200%;
}
html .containertenkuu .imagetenkuu {
  width: 50%;
}
html .containertenkuu .imagetenkuu img {
  width: 100%;
  height: auto;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 10px;
}
@media (max-width: 768px) {
  html .containertenkuu {
    flex-direction: column;
  }
  html .containertenkuu .contenttekuu, html .containertenkuu .imagetenkuu {
    width: 100%;
  }
}
html .gallerytenkuu {
  margin-top: 100px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
}
html .gallerytenkuu img {
  width: 100%;
  height: auto;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 10px;
}
html .fotoprincipalpizzapg4 {
  width: 100%;
  height: auto;
  display: block;
  max-width: 100%;
  max-height: 100%;
  margin-bottom: 20px;
}
@media (max-width: 768px) {
  html .fotoprincipalpizzapg4 .imagen {
    width: 100%;
    height: auto;
  }
}
html .flex-informacionpizzapg4 {
  display: flex;
  align-items: center;
}
html .flex-informacionpizzapg4 .textopizzapg4 {
  padding: 50px;
  align-items: center;
  text-align: center;
  flex: 50%;
}
html .flex-informacionpizzapg4 .textopizzapg4 h1 {
  padding: 10px;
  font-size: 10vw;
}
html .flex-informacionpizzapg4 .textopizzapg4 p {
  padding: 10px;
  font-size: 1.3vw;
}
html .flex-informacionpizzapg4 .fotoprincipal2pizzapg4 {
  flex: 50%;
  padding: 10px;
}
html .flex-informacionpizzapg4 .fotoprincipal2pizzapg4 img {
  width: 50vw;
  border-radius: 5%;
}
@media (max-width: 700px) {
  html .flex-informacionpizzapg4 .flex-informacionpizzapg4 {
    flex-wrap: wrap;
  }
  html .flex-informacionpizzapg4 .textopizzapg4 {
    flex: 100%;
    margin-bottom: 3%;
  }
  html .flex-informacionpizzapg4 .textopizzapg4 > h1 {
    font-size: 50vw;
  }
  html .flex-informacionpizzapg4 .textopizzapg4 > p {
    font-size: 10vw;
  }
  html .flex-informacionpizzapg4 .fotoprincipalpizzapg4 {
    flex: 100%;
  }
}
html hr {
  width: 80%;
  height: 7px;
  background-color: black;
  margin: 20px auto;
}
@media screen and (max-width: 700px) {
  html hr {
    width: 90%;
  }
}
html .elcuartito {
  font-size: 10vw;
  text-align: center;
  font-family: "REDRESSED";
  margin-bottom: 2%;
}
html .grid-containerelcuartito {
  display: flex;
  background-color: #b1b1b1;
  padding: 10px;
  margin-bottom: 5%;
}
html .grid-containerelcuartito .gridpg4-item {
  text-align: center;
}
html .grid-containerelcuartito .gridpg4-item p {
  padding-top: 20%;
  font-size: 160%;
}
html .grid-containerelcuartito .gridpg4-item img {
  width: 100%;
  border-radius: 10px;
}
@media (max-width: 800px) {
  html .grid-containerelcuartito .grid-containerelcuartito {
    flex-wrap: wrap;
  }
}
html .galleryelcuartito {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
}
html .galleryelcuartito img {
  width: 100%;
  height: auto;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 10px;
}
html .lamezzeta {
  font-size: 10vw;
  text-align: center;
  font-family: "REDRESSED";
  margin-bottom: 2%;
}
html .containerlamezzeta {
  display: flex;
  background-color: #b1b1b1;
  padding: 10px;
  margin-bottom: 5%;
}
html .containerlamezzeta .contentlamezzeta {
  text-align: center;
}
html .containerlamezzeta .contentlamezzeta p {
  padding-top: 20%;
  font-size: 160%;
}
html .containerlamezzeta .contentlamezzeta img {
  width: 100%;
  border-radius: 10px;
}
@media (max-width: 800px) {
  html .containerlamezzeta .containerlamezzeta {
    flex-wrap: wrap;
  }
}
html .gallerylamezzeta {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
}
html .gallerylamezzeta img {
  width: 100%;
  height: auto;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 10px;
}
html .guerrin {
  font-size: 10vw;
  text-align: center;
  font-family: "REDRESSED";
  margin-bottom: 2%;
}
html .containerguerrin {
  display: flex;
  background-color: #b1b1b1;
  padding: 10px;
  margin-bottom: 5%;
}
html .containerguerrin .contentguerrin {
  text-align: center;
}
html .containerguerrin .contentguerrin p {
  padding-top: 20%;
  font-size: 160%;
}
html .containerguerrin .contentguerrin img {
  width: 100%;
  border-radius: 10px;
}
@media (max-width: 800px) {
  html .containerguerrin .containerguerrin {
    flex-wrap: wrap;
  }
}
html .galleryguerrin {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
}
html .galleryguerrin img {
  width: 100%;
  height: auto;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 10px;
}
html .imagenfondopg7 {
  width: 99vw;
  height: 100vh;
  align-items: center;
  justify-content: center;
  background-image: url(../imagenes/fotofondo1pg7.jpg);
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}
html .login-container {
  max-width: 300px;
  margin: 100px auto;
  padding: 20px;
  background-color: none;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
html .login-container h2 {
  margin-bottom: 20px;
  color: white;
}
html .login-container input {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 3px;
}
html .login-container button {
  width: 100%;
  padding: 10px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}
@media (max-width: 768px) {
  html .login-container {
    width: 80%;
  }
}
html .sobrenosotros {
  text-align: center;
  background: #000000;
  color: #a3a3a3;
  padding: 5% 10% 5% 10%;
  font-family: "URBANIST";
}
html .sobrenosotros .sobrenosotros1 {
  font-size: 3rem;
}
html .sobrenosotros p {
  font-size: 1.7rem;
  line-height: 3rem;
  font-family: "URBANIST";
}
html .sobrenosotros .btn {
  display: inline-block;
  padding: 10px 10px;
  background-color: #6e9dbd;
  color: #fff;
  text-decoration: none;
  font-size: 3rem;
  border-radius: 10px;
  transition: background-color 0.3s;
}
html .sobrenosotros .btn:hover {
  background-color: #2980b9;
}/*# sourceMappingURL=styles.css.map */