/*ORDEN DE PAGINAS
1-INDEX
2-MENU
3-SUSHI
4-PIZZA
5-CARNES
6-INCIAR SESION
7-SOBRE NOSTROS*/
/*-----FUENTES------*/
@font-face {
  font-family: "SPECTRALSC-REGULAR";
  src: url(FUENTES/SpectralSC-Regular.ttf);
}
@font-face {
  font-family: "URBANIST";
  src: url(FUENTES/Urbanist-VariableFont_wght.ttf);
}
@font-face {
  font-family: "REDRESSED";
  src: url(FUENTES/Redressed-Regular.ttf);
}
@font-face {
  font-family: "SPECTRALSC";
  src: url(FUENTES/SpectralSC-ExtraLight.ttf);
}
@font-face {
  font-family: "VIDALOKA";
  src: url(FUENTES/Vidaloka-Regular.ttf);
}
/*------------------------------*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  width: 100%;
}

html {
  /*-----MENU DE NAVEGACION-------*/
  /*--------footer--------*/
  /*-----------PAGINA 1----------- */
  /*IMAGEN PRINCIPAL*/
  /*-----MAIN----*/
  /*---------PAGINA 2----------*/
}
html nav {
  display: flex;
  background-color: #000000;
  justify-content: space-between;
  align-items: center;
  padding: 2%;
}
html nav :hover {
  color: orange;
}
html nav a {
  display: flex;
  align-items: center;
  text-decoration: none;
}
html nav a h2 {
  color: rgba(228, 228, 228, 0.8078431373);
  margin-left: 5%;
  font-family: "URBANIST";
  font-size: 300%;
  opacity: 80%;
}
html nav a img {
  width: 15%;
  margin-right: 2%;
}
html nav nav {
  display: flex;
}
html nav nav a {
  text-decoration: none;
  color: rgba(228, 228, 228, 0.8078431373);
  font-size: 20px;
  opacity: 80%;
}
@media (max-width: 700px) {
  html .header {
    flex-direction: column;
  }
  html .nav {
    padding: 10px 0px;
  }
  html .logo-nombre {
    font-size: 100%;
  }
  html .nav a {
    font-size: 80%;
  }
}
html footer {
  background-color: rgba(0, 0, 0, 0.247);
  padding: 10px;
}
html footer .arrowupcircle {
  position: fixed;
  bottom: 2%;
  right: 2%;
  width: 50px;
}
html footer p {
  text-align: center;
  padding-top: 2%;
  font-weight: bold;
}
html footer .footer1 {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
html footer .footer1 .footer2 {
  color: #535353;
  transition: color 0.3s;
  margin-left: 10%;
}
html footer .footer1 .footer2 :hover {
  color: orange;
  cursor: pointer;
}
html footer .footer1 .footer2 a {
  padding-right: 50px;
  text-decoration: none;
  color: #000000;
  font-weight: bold;
  font-size: 20px;
}
html footer .footer1 .footer3 {
  margin-left: 30%;
}
html footer .footer1 .footer3 a {
  margin-right: 20px;
}
html footer .footer1 .footer3 img {
  width: 40px;
}
html .wrap {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(to bottom, rgb(0, 0, 0), rgba(0, 0, 0, 0.25)), url(../imagenes/fotoprincipal.jpg);
  background-size: cover;
  background-position: center;
}
html .wrap .wrap-texto {
  color: #c7c7c7;
  text-align: center;
}
html .wrap .wrap-texto .textoimg {
  font-size: 150%;
}
html .wrap .wrap-texto .taberu {
  font-size: 500%;
  color: #c7c7c7;
}
html section {
  display: flex;
  background-color: #ffffff;
  padding: 3%;
}
html section .imgrayador {
  margin: 5%;
  width: 50%;
  flex: 50%;
}
html section article {
  background-color: #e2e2e2;
  justify-content: center;
  text-align: center;
  border: 3px solid black;
  margin: auto;
  padding: 5%;
  flex: 50%;
  margin-left: 5%;
  margin-right: 5%;
}
html section article h1 {
  font-size: 150%;
  font-weight: bold;
  color: rgb(71, 71, 71);
}
html section article p {
  font-size: 100%;
  color: #858585;
  font-weight: bold;
}
html .flex-container2pg1 {
  display: flex;
  text-align: center;
  margin-bottom: 2%;
}
html .flex-container2pg1 .flexpg1-item-left {
  padding: 3%;
  flex: 40%;
  width: 60vw;
  height: 100vh;
}
html .flex-container2pg1 .flexpg1-item-right {
  padding: 3%;
  flex: 40%;
  width: 60VW;
  height: 100vh;
}
@media (max-width: 700px) {
  html .flex-container1pg1 {
    flex-direction: column;
  }
  html .flex-container1pg1 > section p {
    font-size: 50%;
  }
  html .flex-container1pg1 > .section1p1 h1 {
    font-size: 100%;
  }
  html .flex-container2pg1 {
    flex-direction: column;
  }
  html .flexpg1-item-left {
    width: 100%;
  }
  html .flexpg1-item-right {
    width: 100%;
  }
}
html .rowpagina2 {
  display: flex;
  color: #c7c7c7;
}
html .rowpagina2 .column1pagina2 h1 {
  font-size: 400%;
  font-family: "SPECTRALSC-REGULAR";
}
html .rowpagina2 .column2pagina2 h1 {
  font-size: 400%;
  font-family: "SPECTRALSC-REGULAR";
}
html .rowpagina2 .column3pagina2 h1 {
  font-size: 400%;
  font-family: "SPECTRALSC-REGULAR";
}
html .rowpagina2 .column1pagina2 {
  flex: 33%;
  background-image: url(../imagenes/fotosushipagina2.jpg);
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  margin: 0.5%;
  text-align: center;
  padding-top: 10%;
}
html .rowpagina2 .column2pagina2 {
  flex: 33%;
  background-image: url(../imagenes/fotopizzapagina2.jpg);
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  margin: 0.5%;
  text-align: center;
  padding-top: 10%;
}
html .rowpagina2 .column3pagina2 {
  flex: 33%;
  background-image: url(../imagenes/fotocarnepagina2.jpg);
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  margin: 0.5%;
  text-align: center;
  padding-top: 10%;
}
html .rowpagina2 .buttonpg2 {
  background-color: none;
  color: rgb(161, 161, 161);
  border: 2px solid #e7e7e7;
  padding: 2%;
  border-radius: 10px;
}
@media (max-width: 700px) {
  html .rowpagina2 {
    flex-wrap: wrap;
  }
  html .column1pagina2 {
    flex: 100%;
  }
  html .column2pagina2 {
    flex: 100%;
  }
  html .column3pagina2 {
    flex: 100%;
  }
}/*# sourceMappingURL=styles.css.map */